﻿@using RedditSharp.Things
@model jakelauer.Models.Savvit.SavvitModel


@foreach (var thing in Model.Saved)
{
	if (thing is Post)
	{
		var post = thing as Post;

		<div class="post">
			<h5>Post by @post.AuthorName</h5>
			<a href="http://reddit.com/@(post.Permalink)">@post.Title</a>
		</div>
	}

	if (thing is Comment)
	{
		var comment = thing as Comment;

		<div class="comment">
			<h5>Comment by @comment.Author</h5>
			<div>Id: @comment.Id</div>
			<div>Subreddot: @comment.Subreddit</div>
			<div>Name: @comment.FullName</div>
			<div>LinkName: @comment.ParentId</div>
			<div>Saved: @comment.Saved</div>
			<a href="@comment.Shortlink">@comment.Body</a>
		</div>
	}
}

<br/><br />
<br />

<div>
	<a href="?page=@(Model.Page + 1)">Next Page</a>
</div>